header {
  height: 80px;
  padding-top: 15px;
  transition: 0.6s linear;
}

figure {
  max-width: fit-content;
  margin-bottom: 0;

  & img {
    max-height: 60px;
    border-radius: 12px;
  }
}

.datetime-widget {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 12px;

  font-weight: 500;

  & i {
    margin-right: 10px;
  }
}

@media (max-width: 990px) {
  h1 {
    display: none;
  }
}

@media (max-width: 500px) {
  header {
    min-width: 290px;
  }

  .datetime-widget {
    padding: 5px 8px;
    font-size: 12px;
  }
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-right: -30px;
  transition: 0.4s ease-in-out;
}

@media(max-width: 400px) {
  h2 {
    font-size: 14px;
  }
}