<div class="example-box flex-just-align-c card-container" [ngStyle]="{backgroundColor: bgColor}" cdkDrag>
  <p class="mb-0" style="width: 200px;max-width: 200px; padding-right:15px;font-size: 12px;overflow-wrap: anywhere;">{{title}}</p>
  <div style="display: flex;justify-content: end;flex-direction: column;">
    <button class="flex-just-align-c action-btn mb-2" (click)="openUpdateTaskModal()" title="Editar nota">
      <i class="fa fa-pencil-square-o" style="margin-top:4px;" aria-hidden="true"></i>
    </button>
    <button class="flex-just-align-c action-btn" (click)="deleteTask()" title="Deletar nota">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
  </div>
</div>