.card-container {
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
  border-radius: 20px;
}

.action-btn {
  width: 30px;
  font-size: 22px;
  background-color: transparent;
  border: none;
}

