.list-section {
  margin-top: 30px;
}

.input-search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    padding: 9px 15px;
    outline: none;
    min-height: 35px;
    max-width: 600px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 18px;
  }

  & button {
    margin-left: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    background-color: #508ac8;
    color: #fff;

    &:hover {
      background-color: #0c758a;
    }
  }
}

@media(max-width: 992px) {
  .input-search-container {
    & input {
      padding: 6px 12px;
      max-width: 300px;
    }
  }
}

.filter-container {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;

  & select {
    padding: 2px 0;
    outline: none;
    margin: 0 15px;
    border-radius: 6px;
  }

  & button {
    padding: 4px 15px;
    border: none;
    border-radius: 8px;
    background-color: #5094c8;
    color: #fff;

    &:hover {
      background-color: #0c758a;
    }
  }
}

.clear-filter-btn {
  background-color: #c87a50 !important;
  margin-left: 15px;
}

.table-list {
  border-radius: 12px;
  margin: 30px 0;
  overflow: hidden;
}

.column-description {
  display: flex; 
  align-items: center;

  & span {
    display: block; 
    height:10px; 
    width: 10px; 
    border-radius: 50%;
    margin-right: 15px; 
    margin-left: 15px;
  }
}

@media(max-width: 768px) {
  .filter-container {
    display: flex;
    flex-direction: column;

    & button {
      margin-top: 15px;
    }
  }

  .clear-filter-btn {
    margin-left: 0;
  }
}

@media(max-width: 476px) {
  .input-search-container {
    & input {
      padding: 4px 9px;
    }

    & button {
      padding: 8px 7px;
      border-radius: 8px;
      font-size: 14px;
    }
  }
}

@media(max-width: 442px) {
  .input-search-container {
    & input {
      padding: 2px 9px;
      font-size: 14px;
      max-width: 230px;
      width: 100%;
    }

    & button {
      padding: 7px 7px;
      border-radius: 8px;
      font-size: 14px;
      width: fit-content;
    }
  }
}

@media(max-width: 376px) {
  .table-list {
    min-width: 240px;
    width: 100%;
    overflow: auto;

    & td {
      font-size: 12px;
    }


    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #dfdfdf;
      border-radius: 50px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 50px;
    }
  }

  .input-search-container {
    flex-direction: column;

    & button {
      margin-top: 15px;
    }
  }
}