<div class="container animate-fadeIn">
  <app-header></app-header>

  <h1>Gerenciador de Tarefas <i class="fa fa-pencil ms-2" aria-hidden="true"></i></h1>

  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Painel Principal</a>
    <span> | </span>
    <a routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Lista de Tarefas</a>
  </nav>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>