h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  display: none;
  transition: 0.5s ease-in-out;
}

@media(max-width: 692px) {
  h1 {
    font-size: 16px;
    margin-top: 10px;
  }
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: #0c758a;
    display: block;
    font-weight: 500;
    padding: 0 15px;
    border: 1px solid #0c758a;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: #0c758a80;
      color: #fff;
    }
  }

  a.active {
    color: white;
    background-color: #fba15f;
    border: 1px solid #fba15f;

    &:hover {
      background-color: #ed7824;
    }
  }

  span {
    margin: 0 15px;
  }
}

@media (max-width: 990px) {
  h1 {
    display: block;
  }

  nav {
    & a {
      padding: 0 10px;
      font-size: 14px;
      text-align: center;
    }
  }
}

@media (max-width: 330) {
  h1 {
    display: block;
  }

  nav {
    & a {
      padding: 0 5px;
      font-size: 12px;
    }
  }
}