/* You can add global styles to this file, and also import other style files */
* {
  font-family:  "Montserrat", "Helvetica", sans-serif;
}
body {
  background-image: linear-gradient(to bottom right, #eae7ff, #ffdfdf);
  // height: 100vh;
  margin: 0;
  background-attachment: fixed;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 50px;
  }
}

.flex-just-align-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transition {
  transition: 0.6s linear;
}

.animate-to-fade-up {
  left: -100%;
  animation: fade-to-up 0.8s ease-in-out;
}

.animate-fadeIn {
  animation: fade-in 0.8s ease-in-out;
}

.animate-growX {
  animation: grow-x 0.6s ease-in-out;
}

.animate-scale-up {
  animation: scale-up 0.6s ease-in-out;
}

.loading-animate-1 {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-bottom: 2px solid #fc3e39;
  animation: rotate 0.6s linear infinite;
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.5);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes fade-to-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  } to {
    opacity: 1;
    transform: translateY(0px);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// default style from the library:
mat-form-field {
  width: 100%;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  // border: solid 1px #ccc;
  min-height: 80px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  // min-height: 20vh;
}

.example-box {
  padding: 20px 10px;
  min-height: 80px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 18px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
