<main class="container-fluid animate-fadeIn">
  <div class="create-task-container">
    <input type="text"  #createTaskInput />
    <button (click)="createNewTask(createTaskInput)">Adicionar Tarefa</button>
  </div>
  <div class="dragable-area" cdkDropListGroup>
    <div class="row d-flex justify-content-center" style="gap: 15px;">
      <section class="col-2 task-columns">
        <div class="example-container">
          <h3 class="column-title">À Fazer</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.backlog"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.backlog; track item) {
              <div class="example-box" style="background-color: #eeeeee;" cdkDrag>{{item}}</div>
            }
          </div>
        </div>
      </section>
      <section class="col-2 task-columns">
        <div class="example-container">
          <h3 class="column-title">Em andamento</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.doing"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.doing; track item) {
              <div class="example-box" style="background-color: #f8edc8;" cdkDrag>{{item}}</div>
            }
          </div>
        </div>
      </section>
      <section class="col-2 task-columns">
        <div class="example-container">
          <h3 class="column-title">Conluído</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.done"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.done; track item) {
              <div class="example-box" style="background-color: #c8f8cd;" cdkDrag>{{item}}</div>
            }
          </div>
        </div>
      </section>
      <section class="col-2 task-columns">
        <div class="example-container">
          <h3 class="column-title">Bloqueadas</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.blocked"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.blocked; track item) {
              <div class="example-box" style="background-color: #f38b8a;" cdkDrag>{{item}}</div>
            }
          </div>
        </div>
      </section>
    </div>
  </div>
</main>