<main class="container-fluid animate-fadeIn">
  <div class="create-task-container">
    <input type="text"  #createTaskInput />
    <button (click)="createNewTask(createTaskInput)">Adicionar Tarefa</button>
  </div>
  <div class="dragable-area" cdkDropListGroup>
    <div class="row d-flex justify-content-center" style="gap: 15px; overflow: auto; width: 100%;" >
      <section class="col-2 task-columns">
        <div class="example-container" >
          <h3 class="column-title" style="width: 100%;border-radius: 4px;">À Fazer</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.backlog"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.backlog; track item; let i = $index) {
              <app-card-task [title]="item" [bgColor]="'#eeeeee'" (delete)="deleteTask('backlog', i)"></app-card-task>
            }
          </div>
        </div>
      </section>
      <section class="col-2 task-columns">
        <div class="example-container">
          <h3 class="column-title">Em andamento</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.doing"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.doing; track item; let i = $index) {
              <app-card-task [title]="item" [bgColor]="'#f8edc8'" (delete)="deleteTask('doing', i)"></app-card-task>
            }
          </div>
        </div>
      </section>
      <section class="col-2 task-columns">
        <div class="example-container">
          <h3 class="column-title">Conluído</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.done"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.done; track item; let i = $index) {
              <app-card-task [title]="item" [bgColor]="'#c8f8cd'" (delete)="deleteTask('done', i)"></app-card-task>
            }
          </div>
        </div>
      </section>
      <section class="col-2 task-columns">
        <div class="example-container">
          <h3 class="column-title">Bloqueadas</h3>
      
          <div
            cdkDropList
            [cdkDropListData]="tasks.blocked"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasks.blocked; track item; let i = $index) {
              <app-card-task [title]="item" [bgColor]="'#f38b8a'" (delete)="deleteTask('blocked', i)"></app-card-task>
            }
          </div>
        </div>
      </section>
    </div>
  </div>
</main>